.filename {
    width: 200px;
    display: block;
    padding-top: 1rem;
}
root { 
    display: block;
}

h1 {
    color:grey;
}
#page {
    margin-left: 5px;

}
body {
    margin-left: 15px;
    /* margin: auto; */
    font-family: sans-serif;
    /*max-width: 850px;*/
}
.container {
    margin: 3%;
}
div#menu {
    position: sticky;
    top: 0;
    background-color: #cccccc;
    padding: 10px;
    width: 80%;

}
div#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#menu ul li {
    display: inline;
    margin: 0;
    padding-right: 100px;
    font-weight: bold;
}

div#menu ul li a{
    color: darkred;
}

div#menu ul li {
   display: inline;
   margin: 0;
   padding-right: 30px;
   font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: darkred;
}