#errorMsg {
    color: red;
}

#feedback {
    color: green;
}


#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #buttons button {
    font-size: 1rem;
    padding: 1rem;
    width: calc(50% - 0.25rem);
  }

button {
    font-size: 1rem;
    background: #0088cc;
    text-align: center;
    color: white;
    border: none;
    transition: all 0.2s;
    padding: 0.5rem;
  }
  
  button:hover, button:focus {
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
    background: #0ae;
  }
  
  button:active {
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
    transform: translateY(2px);
  }