<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='server.css') }}"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/server.css') }}">
    <!-- <link rel="stylesheet" href="static/server.css"> -->

    <title>Reception</title>
</head>
<body>
    <h1>Reception Responses ASD</h1>
    
    <table>
        <tr><th>Response ID</th></tr>
    {% for item in lijst %}  
        <tr>
            
        {% if item != ".DS_Store" %} 
            <td>
                <a href="{{ url_for(request.endpoint) }}{{ item }}  ">{{ item }}</a>
            </td>  
        {% endif %}  
        </tr>
    {% endfor %}
    </table>
</body>
</html>