<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/server.css') }}">

    <title>Create LSQ file</title>
</head>
<body>
    <h1>Create audio question for LimeSurvey</h1>
    <form method="post" action="{{ url_for('subsmith') }}" >
        id      <input type="text" name="id"><p></p>
        phrases <input type="text" name="words">

        <input type="submit">
    </form>
</body>
</html>