<!doctype html>
<html>
    <head>
        <title>Submit Wordlist</title>
      </head>
   <body>
    <h1>Submit Wordlist</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     
      {% for message in messages %}
        <h3 class="alert">{{ message }}</h3>
      {% endfor %}
      
    {% endif %}
  {% endwith %}

      <form action="{{ url_for('processwordlist') }}" method="POST" enctype="multipart/form-data">
         <input type="file" name="file" />
         <input type="submit" value="Submit" />
      </form>   

      <p>After submitting, you'll receive an .lsq file that you can import in LimeSurvey</p>
   </body>
</html>