<!doctype html>
<html>
    <head>
        <title>Submit Wordlist</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='server.css') }}"> -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"> -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <!-- https://purecss.io/forms -->
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/server.css') }}"> -->
        <!-- <link rel="stylesheet" href="static/server.css"> -->
      </head>
   <body>
    <h1>Submit Wordlist</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     
      {% for message in messages %}
        <h3 class="alert">{{ message }}</h3>
      {% endfor %}
      
    {% endif %}
  {% endwith %}

<p>Use a texteditor (no Word) for your wordlist. Something like: Visual Studio Code, BBEdit, Sublime or Brackets</p>

      <form class="pure-form pure-form-aligned" action="{{ url_for('processwordlist') }}" method="POST" enctype="multipart/form-data">

        <fieldset>
          <div class="pure-control-group">  
            <label for="mode">Output</label>
    
            <select name="mode" id="mode">
                <option value="limesurvey">LimeSurvey</option>
                <option value="html">HTML</option>
                <option value="test">test</option>
  
            </select>
          </div>

          <div class="pure-control-group">  
        <label for="language">Base Language of survey</label>

        <select name="language" id="language">
            <option value="nl">Dutch</option>
            <option value="nl-informal">Dutch informal</option>
            <option value="en">English</option>
        </select>
        </div>

        <div class="pure-control-group">  

          <label for="questiontext" class="pure-text" >Question </label>
          <input type="text" value="Spreekt u de de volgende woorden in:" name="questiontext" size="60"></input>

        <div class="pure-control-group">  

        <label for="random" class="pure-radio" >Randomisation</label>
          <input type="radio" value="true" name="random">yes</input>
          <input type="radio" value="false" name="random" checked>no</input>
      
          </div>

    

         <div class="pure-control-group">  

            <label for="timelimit" class="pure-text" >Time Limit </label>
            <input type="text" value="10" name="timelimit" size="2"></input> seconds (maximum 60 seconds)
        </div>
        <div class="pure-control-group">  

          <label for="file">Select file with words</label>
      
           <input type="file" name="file" />
  
           </div>
         <div class="pure-control-group">  

         <label for="submit"></label>

         <input type="submit" class="pure-button pure-button-primary" value="Submit" />
         </div>
      </fieldset>

      </form>   

      <p>After submitting, you'll receive an .lsq file that you can import in LimeSurvey</p>
      <p>Format of the submitted textfile, each line has to have a phrase or word that you want to have recorded</p>

      <p>Example:</p>
      <pre>
        koud
        warm
        kil
      </pre>
   </body>
</html>