<!doctype html>
<html>
    <head>
        <title>Submit Wordlist</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='server.css') }}"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/server.css') }}">
        <!-- <link rel="stylesheet" href="static/server.css"> -->
      </head>
   <body>
    <h1>Submit Wordlist</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     
      {% for message in messages %}
        <h3 class="alert">{{ message }}</h3>
      {% endfor %}
      
    {% endif %}
  {% endwith %}

<p>Use a texteditor (no Word) for your wordlist. Something like: Visual Studio, Sublime or Brackets</p>

      <form action="{{ url_for('processwordlist') }}" method="POST" enctype="multipart/form-data">
        <label for="browser">Choose your browser from the list:</label>
        <label for="language">Base Language for the Survey:</label>

        <select name="language" id="language">
            <option value="nl">Dutch</option>
            <option value="nl-informal">Dutch informal</option>
            <option value="en">English</option>
        </select>

        <label for="file">File:</label>
    
         <input type="file" name="file" />
         <label for="submit"></label>

         <input type="submit" value="Submit" />
      </form>   

      <p>After submitting, you'll receive an .lsq file that you can import in LimeSurvey</p>
      <p>Format of the submitted textfile, each line has to have a phrase or word that you want to have recorded</p>

      <p>Example:</p>
      <pre>
        koud
        warm
        kil
      </pre>
   </body>
</html>